@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Courses>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <h5><a href="/Course/AddCourse">Create Course</a></h5><br /><br />
    <h3>Courses list</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (@item.Status == 1)
                {
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>Active</td>
                    <td><a href="/Course/GetCourse/@item.ID">Edit</a><a href="/Course/DeleteCourse/@item.ID">Delete</a></td>
                }
                else
                {
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>Deleted course</td>
                }

            </tr>
            }
        </tbody>
    </table>
</body>

</html>
